.notes-dashboard
{
    max-width: 1200px;
    margin: 80px auto;
    padding: 50px;
    background-color: #2a2c30;
    color: #dadada;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #4A90E2;
    margin-bottom: 20px;
}

.dashboard-header h1
{
    margin: 0;
    color: #4A90E2;
}

.actions button {
    background-color: #4A90E2;
    border: none;
    color: #fff;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions button:hover, .actions button:focus {background-color: #357ABD;}
.notes-content {margin-top: 20px;}
.note-header {display: flex;}
.note-header button {margin-left: 7px;}

.notes-list
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-item
{
    background-color: #1f2023;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.note-item:hover, .note-item:focus
{
    background-color: #333;
    transform: scale(1.01);
}

.note-item h2
{
    margin: 0 0 5px;
    font-size: 18px;
    color: #4A90E2;
}

.note-item p
{
    font-size: 14px;
    color: black;
}

.note-item .tags {margin-top: 8px;}
.tag
{
    display: inline-block;
    background-color: #4A90E2;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 4px;
}

.notes-grid
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note-card
{
    background-color: #1f2023;
    border-radius: 4px;
    padding: 10px;
    width: calc(33.333% - 20px);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.note-card:hover, .note-card:focus
{
    background-color: #333;
    transform: scale(1.01);
}

.note-card h2
{
    font-size: 18px;
    color: #4A90E2;
    margin: 0 0 5px;
}

.note-card p
{
    font-size: 14px;
    color: black;
}

.note-card .tags .tag
{
    font-size: 12px;
    margin-right: 4px;
}

@media (max-width: 768px) {.note-card {width: calc(50% - 20px);}}
@media (max-width: 480px) {.note-card {width: 100%;}}